// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container:first-of-type {
  margin-top: 50px;
}

#social-links {
  text-align: center;
  img {
    width: 30px;
    height: 30px;
  }
}

#logo {
  display: block;
  text-indent: -9999px;
  background: url('/img/logo.png');
  width: 480px;
  height: 82px;
}

h2 {
  border-left: solid 4px #818182;
  padding-left: 5px;
  color: #818182;
}

h3 {

}

h4 {
  font-size: 1rem;
}

.eduexp {
  > li {
    border-bottom: dashed 1px #818182;
  }
  li {
    margin: 15px 0 15px 0;
  }
  li:last-of-type {
    border-bottom: none;
  }
}

